@using Entity
@model List<Lesson>

@{
    int sayac = 0;
    List<Education> educations = Query.EducationList();
    List<Lesson> lessons = Query.LessonList();
    string a = "";
    string b = "";
    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";}
</br>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <!--Begin::Section-->
    <div class="row" style="justify-content: center;">

        @foreach (var item in Model)
        {
            <div class="col-sm-2">
                <!--Begin::Portlet-->
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        @**@
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin::LED -->
                        <div class="kt-widget kt-widget--user-profile-2" style="align-items:center;">
                            <div class="kt-widget__head">
                                <div class="kt-widget__media">
                                    <img class="" src="@item.Logo" style="width:100%; padding-bottom:10px" alt="image">
                                </div>
                            </div>
                            <div class="kt-widget__body" style="text-align: center;">
                                <div class="kt-widget__contact" style="">
                                    <h5 style="color:#616682;">@item.Name</h5>
                                </div>
                            </div>
                            @if (item.ID == 0)
                            {
                                <div class="embed-responsive kt-widget__footer">
                                    <a type="button" class="btn btn-label-danger btn-lg btn-upper" style="background:rgba(135, 135, 135, 0.90); color:white; cursor: not-allowed;">Derse Git</a>
                                </div>
                            }
                            else
                            {
                                <div class="embed-responsive kt-widget__footer">
                                    <a href="Lesson/Index?id=@item.ID" type="button" id="@item.ID" class="btn btn-label-danger btn-lg btn-upper" style="">Derse Git</a>
                                </div>
                            }
                        </div>
                        <!--end::LED -->
                    </div>
                </div>
                <!--End::Portlet-->
            </div>

        }

    </div>
</div>
