@using Entity
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Teacher> teachers = Query.TeacherList();
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">ÖĞRETMEN EKLE</h3>

                    </div>
                    <div class="card-body">
                        <form action="/Admin/Teacher/Add" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="FirstName">Ad</label>
                                <input name="FirstName" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="LastName">Soyad</label>
                                <input name="LastName" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Email">E-Mail</label>
                                <input name="Email" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Password">Şifre</label>
                                <input name="Password" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Phone">Telefon</label>
                                <input name="Phone" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Address">Adres</label>
                                <input name="Address" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Note">Branş</label>
                                <input name="Note" class="form-control" rows="3" />
                            </div>
                            <div class="">
                                <label for="Image">Fotoğraf Ekle</label>
                                <input type="file" name="Image" />
                            </div>



                            <input type="submit" value="Ekle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

