@using Entity
@{
    ViewBag.Title = "About";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    var edu1 = Query.EducationCount();
    var les1 = Query.LessonCount();
    var tea1 = Query.TeacherCount();
}
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Areas/Member/Content/images/img_bg_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Hakkımızda</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-about">
    <div class="container">
        <div class="col-md-4 animate-box">
            @*<span>About Our University</span>*@
            <h2>Hakkımızda</h2>
            <p>&emsp; Bilim ve Teknoloji Okulu tüm öğrenciler için online bir öğrenme platformudur. Bu platformda seçtiğiniz öğretmenden online ders satın alabilir veya satın aldığınız platform içeriğini 1 yıl boyunca kullanabilirsiniz.</p>
            <p>&emsp; Platform içeriğinde öğrencinin bulunduğu sınıf seviyesine ait konu anlatım videoları, yazdırabilir ödevler ve online deneme sınavları mevcuttur.</p>
            <p>&emsp; Satın aldığınız içeriği tekrar izleyebilir ve içerikten zaman farkı gözetmeksizin yararlanabilirsiniz.</p>
        </div>
        <div class="col-md-8">
            <img class="img-responsive" src="~/Areas/Member/Content/images/hakkimizda2.jpg" alt="">
        </div>
    </div>
</div>

<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(/Areas/Member/Content/images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-study"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="@edu1" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Eğitimler</span>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-book2"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="@les1" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Dersler</span>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-head"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="@tea1" data-speed="3000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Öğretmenler</span>
                    </div>
                    @*<div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="icon-bulb"></i></span>
                            <span class="fh5co-counter js-counter" data-from="0" data-to="200" data-speed="3000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">Yapılan Ders</span>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>GALERİ</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <i class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></i>
        </div>
        <div class="col-md-3 col-padded">
            <i class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></i>
        </div>
        <div class="col-md-3 col-padded">
            <i class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></i>
        </div>
        <div class="col-md-3 col-padded">
            <i class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></i>
        </div>
    </div>
</div>
