
@{
    ViewBag.Title = "SınıfOniki";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color:#a1a0d0">
    <div class="row text-center">
        <h2><span>12. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Onikinci Sınıf</span>
            <h2>12.Sınıf</h2>
            <p>&emsp; Öğrenim hayatında çok önemli bir yere sahip olan zorunlu eğitimin son yılında öğrenciler bir meslek seçimi konusunda tercih yapmak zorundadır. Çalışmaları, istek ve ilgileri doğrultusunda bu yılın sonunda öğretim hayatlarında önemli sınavlardan olan üniversite sınavında başarılı olmak için ter dökeceklertir. Bu sınav için çalışma saatlerinin gün içerisinde hat safhaya çıktığı dönemlerde mental sağlıkları ve kararlılıkları büyük bir öneme sahiptir.</p>
            <p>&emsp; Planlı çalışmak, ihtiyaçlar doğrultusunda ilerlemek ve sınava yönelik çalışmalar konusunda kararlılık göstererek ilerlemeleri, öğrencilerimiz için başarıyı yakalayabilecekleri bir anahtar niteliğindedir. Sınav temposunda olan öğrencilerimiz için ders içeriği, değerlendirme sınavları, çalışma etkinlikleri ve online canlı dersler için sitemize kayıt olabilirsiniz.</p>
            <p><i>&emsp;Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>Lise Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/s12.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>
<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>GALERİ</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
    </div>
</div>