
@{
    ViewBag.Title = "SınıfUc";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color: #a1a0d0">
    <div class="row text-center">
        <h2><span>3. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Üçüncü Sınıf</span>
            <h2>3. Sınıf</h2>
            <p>&emsp; Öğrencinin önceki yıllarda kazanmış olduğu kazanım ve beceriler ölçülerek üzerine yeni bilgi ve becerilerin eklendiği sınıf seviyesinde, bilgilerin hatırlanması ve bilişsel düzeyde bilgilerin daha hızlı işlenmesi gerekmektedir. Var ise önce eksik kazanımlara odaklanarak öğrencimizin bilgileri daha hızlı hatırlanması hedef alınmalı, öğretim programı beraberinde uzman öğretmen ile etkinlik sayısının arttırması gerekmektedir. Planlı ve rutin çalışmalarla bir sonraki sınıf seviyesine hazır halde olunması öğretim faaliyetlerinin hedefini oluşturmaktadır.</p>
            <p>&emsp;Somut işlemler dönemi sonrası öğrenciye soyut bilgiler ışığında da öğrenmeye geçmek için bir başlangıç dönemi olduğu unutulmamalıdır. Çocukların hem dersleri sevmesi, severek öğrenmelerini amaç edinerek süreç desteklenmektedir.</p>
            <p><i>&emsp;Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>İlkokul Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/s3.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>