
@{
    ViewBag.Title = "SınıfDokuz";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color:#a1a0d0">
    <div class="row text-center">
        <h2><span>9. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Dokuzuncu Sınıf</span>
            <h2>9.Sınıf</h2>
            <p>&emsp; Yoğun bir mental süreç ve çalışma temposundan çıkmış olan öğrencimiz yerleşmiş olduğu liseye adapte olurken aynı zamanda sosyal çevreye de adapte olma sürecindedir. Bu seviye öğrencimizin yol gösterilmeye, yönlendirilmeye ders başarısı kadar ihtiyacı vardır. Bu süreçte öğretmen ve aile öğrenci ile birebir ilgilenerek yönlendirmelerde bulunması, bu yönlendirmeler doğrultusunda bir hedef belirlenmesi gerekmektedir. Belirlenen hedefler doğrultusunda adımlar atılırken öğrenciye destek olunmalıdır.</p>
            <p>&emsp;Öğrencimiz ön öğrenmelerinden yola çıkarak bu yılda yeni karşılaşacağı derslere adaptasyonu, ders öğretmenleri ile iletişiminin, sosyal çevresindeki olayların akademik başarısını etkileyebileceği unutulmamalıdır.</p>
            <p><i>&emsp;Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>Lise Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/s9.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>