
@{
    ViewBag.Title = "SınıfOnbir";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color:#a1a0d0">
    <div class="row text-center">
        <h2><span>11. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Onbirinci Sınıf</span>
            <h2>11.Sınıf</h2>
            <p>&nbsp; Öğrencimizin öncesinde belirlemiş olduğu hedefler doğrultusunda bir çalışma programı olması gereken ve yaşamını önemli düzeyde etkileyecek olan üniversite sınavına hazırlanmaya başlaması için en uygun seviyedir. Bu seviyede öğrencimizin eğer düzenli bir çalışma sistemi yoksa bu alışkanlığı edinmesi ve hedefleri doğrultusunda uygulamaya başlaması çok önemlidir. Eksik kazanımlar belirlenerek bir çalışma disiplini oluşturulmalı, öğrenme sonrası bol bol etkinliklerle bu öğrenmeler pekiştirilmelidir. Bir sonraki seviyeye hazır ve mental anlamda kendini başarmaya hazır hissetmesinin başarıyı etkileyen etkenlerden olduğunu unutmayalım.</p>
            <p><i>&emsp;Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>Lise Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/s11.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>
<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>GALERİ</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
    </div>
</div>