
@{
    ViewBag.Title = "SınıfDort";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color:#a1a0d0">
    <div class="row text-center">
        <h2><span>4. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Dördüncü Sınıf</span>
            <h2>4.Sınıf</h2>
            <p>&emsp; Değerlendirme aracının değişkenlik gösterdiği dördüncü sınıf seviyemizde ilk üç sınıf seviyesinden farklı olarak puan karşılığı sorular ile bir not değerlendirme yapılmaktadır. Hem karne notunun arttırılması hem de daha iyi bir gelecek için öğrencilerin düzenli bir çalışma temposu içerisinde olması önemli bir konudur. Yazılı sınavların yanında genel seviye belirleme sınavlarında da başarının sürdürülmesi, eksik kazanımların belirlenmesi ile planlı bir öğretim programının oluşturulması büyük önem taşımaktadır. Ortaokula hazırlık olarak nitelendirebileceğimiz sınıf seviyesinde gereken başarının yakalanması öğrencimizin geri kalan öğrenim hayatında kolaylık sağlayacaktır.</p>
            <p><i>&emsp;Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>İlkokul Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/s4.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>
<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>GALERİ</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
    </div>
</div>