
@{
    ViewBag.Title = "SınıfIki";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color:#a1a0d0">
    <div class="row text-center">
        <h2><span>2. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>İkinci Sınıf</span>
            <h2>2.Sınıf</h2>
            <p>&emsp; İlkokulun ikinci öğretim yılında olan öğrencimize hazırbulunuşlukları doğrultusunda hazırlanan öğretim faaliyetleri ile planlı bir öğretim faaliyetleri sunulması temel amacımızdır. Bu seviyedeki öğrencimizin okuma-yazma becerileri denetlenmeli ve okuma-anlama düzeyinde ise anlamlı bir düzeyde ilerleme olması gerekmektedir.</p>
            <p>&emsp;Başarının gözlem ve değerlendirme ile ölçüldüğü ilkokul seviyesinde öğrencimizin öğrenmelerinin kontrol edilmesi hayati bir öneme sahiptir. Düzenli bir çalışma programı ile iletilmesi gereken faaliyetler konusunda uzman ve alanına hâkim öğretmenlerin yönlendirmeleri çok etkilidir. Öğrenilen yeni işlem ve beceriler muhakkak desteklenmeli ve sürecin takip edilmesi gerekmektedir.</p>
            <p><i>&emsp;Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>İlkokul Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/s2.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>