
@{
    ViewBag.Title = "SınıfYedi";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<div id="fh5co-gallery" class="fh5co-bg-section" style="background-color:#a1a0d0">
    <div class="row text-center">
        <h2><span>7. SINIF</span></h2>
    </div>
</div>
<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">
            <span>Yedinci Sınıf</span>
            <h2>7.Sınıf</h2>
            <p>&emsp; Lise sınavı öncesi öğrencimizin çalışmalarını bir plan çerçevesinde uygulamak için en doğru olan seviyedir. Bu seviyede öğrencimizle belirli bir çalışma planı çerçevesinde lise sınavlarına hazırlanılarak planlı ve düzenli çalışmaya yönlendirilmesi sağlanmalıdır. Bu süreçte öğrencimizin mental açıdan da lise sınavına hazırlanması süreci kolaylaştırıcı bir etkendir. Öğretimde zamanın önemi değerlendirildiğinde bu seviyede planlı bir çalışmaya başlayan öğrencimizin lise sınavlarında başarılı olması kolaylaşacaktır. Yapılacak başarılı çalışmalar ve yönlendirmeler için uzman ve alanında hâkim öğretmenlerden destek alarak öğrencinin istek, ilgi ve ihtiyaçları göz önünde bulundurulmalıdır.</p>
            <p><i>&emsp; Daha detaylı bilgi için lütfen bizimle iletişime geçiniz.</i></p>
            <p style="text-align:right;"><b><i>Bilim ve Teknoloji Okulu</i></b></p>
            <p style="text-align:right;"><b><i>Ortaokul Bölümü</i></b></p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Areas/Member/Content/images/1.png" alt="Bilim ve Teknoloji Okulu">
        </div>
    </div>
</div>
<div id="fh5co-gallery" class="fh5co-bg-section">
    <div class="row text-center">
        <h2><span>GALERİ</span></h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/1.png);"></a>
        </div>
        <div class="col-md-3 col-padded">
            <a href="#" class="gallery" style="background-image: url(/Areas/Member/Content/images/2.png);"></a>
        </div>
    </div>
</div>